@import "rfgform.css";

html {height: 100%; margin-bottom: 1px;}
body {margin: 0; padding: 0; text-align: center; background: #f7f7f8 url(/newhol/view-resources/identity/default/images/bg_container.gif) repeat-y top center; font: 62.5%/1.5em 'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000;}
table td, table th {font-size: 1em;}
body, div, h1, h2, h3, h4, h5, h6, table, td, th, p, ol, ul, dl, li, dt, dd, form, input, textarea, select {margin: 0; padding: 0;}
img {border: 0;}

/* container and general structure */
#container {margin: 0 auto; width: 960px; background: #FFF url(/newhol/view-resources/identity/default/images/bg_container.gif) repeat-y top left;}
#header, #columns, #footer {text-align: left;}

/* header */
#header {margin: 0 6px; height: 160px; position: relative;}
#header h6 {width: 259px; height: 54px; position: absolute; top: 21px; left: 25px;}
#header h6 a {padding-top: 124px; width: 259px; height: 0; display: block; overflow: hidden; background: url(/newhol/view-resources/identity/default/images/holid.jpg) no-repeat top left;}

/* columns and personal icon */
#columns {background: transparent url(/newhol/view-resources/identity/default/images/bg_columns.gif) repeat-y top left;}

#personal-icon {height: 85px; position: relative; overflow: visible; background: transparent url(/newhol/view-resources/identity/default/images/bg_personal-icon.gif) no-repeat top left;}
#personal-icon p {width: 248px; height: 150px; position: absolute; bottom: 6px; right: 12px; border: 1px solid #CCC; overflow: hidden; background-color: #EEE; background-position: 50% 50%; background-repeat: no-repeat;}
#personal-icon.set p {background-color: #FFF;}
#personal-icon a {display: block; width: 248px; height: 15px; padding: 129px 6px 6px; background: none; text-transform: uppercase; color: #666; text-decoration: none; letter-spacing: .1em;}
#personal-icon a:hover {color: #000;}

/* content */
#content {padding: 0 18px 1.5em; width: 647px; float: left; font-size: 1.2em; line-height: 1.5em;}
#content h1 {margin: 0 -18px 12px -18px; background: url(/newhol/view-resources/identity/default/images/bg_content_h1_border.gif) repeat-y top left; font-weight: normal; text-transform: uppercase; font-size: 1.6667em; letter-spacing: .1em; line-height: 1em; color: #FFF;}
#content h1 span {margin: 0 0 0 6px; padding: 16px 12px 8px; display: block; background: #8ccd36 url(/newhol/view-resources/identity/default/images/bg_content_h1.gif) repeat-x top left; border-bottom: 2px solid #4fab0b;}
#content h2 {margin: 2em 0 6px; padding: 0 0 6px; border-bottom: 4px solid #90d536; text-transform: uppercase; letter-spacing: .1em; font-size: 1.3333em; color: #4fab0b; font-weight: normal;}
#content h3 {margin: 2em 0 6px; padding: 0 0 6px; border-bottom: 4px solid #90d536; text-transform: uppercase; letter-spacing: .1em; font-size: 1em; color: #4fab0b; font-weight: normal;}
#content p, #content ul, #content ol, #content dl {margin-bottom: .8em;}
#content ol {margin-left: 2em;}
#content ul {list-style-type: none;}
#content li {padding-left: 1.2em; background: transparent url(/newhol/view-resources/identity/default/images/bullet.gif) no-repeat .4em .6em;}

#content ul.links li {background: transparent url(/newhol/view-resources/identity/default/images/bullet_link.gif) no-repeat 0 .4em;}
#content .conjoined {margin-top: -.8em;}

#content dl {margin-left: 1em}
#content dt {font-size: 1.1em; font-weight: bold;}
#content dd {margin: 0 0 .5em 2em;}

#content .box {margin-bottom: 1.5em; padding-left: 23px; background-repeat: no-repeat; background-position: 0 .2em;}
#content .box h2 {margin: 0 0 6px; padding: 0 0 6px; border-bottom: 1px solid #CCC; text-transform: none; letter-spacing: 0; font-size: 1.0833em;} 
#content .box a.dismissLink {font-size: .8333em; float: right;}
#content .about {background-image: url(/newhol/view-resources/identity/default/images/icon_about.gif);}
#content .about h2 {border-bottom-color: #f4dcb8; color: #d57500;}
#content .error {background-image: url(/images/icon_error.gif);}
#content .error h2 {border-bottom-color: #c62c13; color: #c62c13;}
#content .alert {background-image: url(/images/icon_alert.gif);}
#content .alert h2 {border-bottom-color: #246ca0; color: #246ca0;}
#content div.settings {margin-bottom: 1.5em;}

#content div.image-space {
         width: 100px;
         height: 100px;
         border: 1px solid black;
         display: table-cell;
         vertical-align: middle;
         text-align: center;
}

#content div.chosen_persona {padding: 1em; border: 2px solid black; margin: 1em;}
#content div.chosen_persona h3 {border-bottom: 1px solid black; margin: 1em;}
#content div.chosen_persona form {border: none;}
#content div.chosen_persona p.actions {
         clear: both;
         margin: 1em;
         border-top:1px solid black; 
         text-align:right;
}
#content div.chosen_persona th {padding: 0.4em;}
#content div.chosen_persona td {padding: px;}
#content div.chosen_persona #chosen_persona_image {float:left; margin: 1em;}

#content table.persona form {border: 0px;}
#content table.persona th {width: 33%; border: 0px; padding: 1em;}
#content table.persona button {border: 0px; background: transparent;}
#content table.persona div.image-space {border: 2px solid black;}

#content form {border-top: 2px solid #90d536;}
#content form label {font-weight: bold; display: block; text-align: right; font-size: 1em;}
#content form .oneline label {display: inline;}
#content form .full {width: 90%;}
#content form table {border-collapse: collapse; width: 100%;}
#content form table td, #content form table th {padding: 6px 6px 6px 0; vertical-align: top;}
#content form table tr.radiochecks td {text-align: right;}
#content form table tr.radiochecks label {font-weight: normal; text-align: left;}
#content form div.divider, #content form tr.divider td {border-bottom: 1px solid #90d536;}
#content form p.buttons {margin-top: 6px; padding-top: 6px; text-align: right; border-top: 2px solid #90d536;}
#content form .example { color: #777; }
#content form.noline {border-top: 0;}
#content h2 + form {margin-top: -8px;}
#content img {vertical-align: middle;}

#content table.ledger {
    border-collapse: collapse;
    border-bottom: 1px solid #90d536;
}
#content table.ledger th {
    border-bottom: 1px solid #90d536;
}
#content table.ledger td, #content table.ledger th {
    padding-right: 0.5em;
    padding-left: 0.5em;
}
#content table.ledger tr.odd td {
    background: #D3EEAF;
}

#content table.ledger td div.clipping {
    overflow: hidden;
}

#content table.ledger td div.clipping:hover {
    overflow: auto;
}

#content table.full {
    width: 90%;
}

/* navigation */
#navigation {padding-top: 6px; float: right; width: 277px; background: url(/newhol/view-resources/identity/default/images/bg_navigation.gif) no-repeat top left; font-size: 1.2em;}
#navigation p#identity-url {margin: 0 6px; padding: 10px 12px; background: #b2d8eb url(/newhol/view-resources/identity/default/images/bg_identity_url.gif) repeat-y top left; color: #FFF; font-size: .8333em; text-transform: uppercase; letter-spacing: .1em; line-height: 1.2em;}
#navigation p#identity-url a {text-transform: none; letter-spacing: 0; font-size: 1.08em;}
#navigation h2 {margin: 0 6px; padding: 12px 12px 6px; background: #7ebddd url(/newhol/view-resources/identity/default/images/bg_navigation_h2.gif) repeat-y top left; border-bottom: 2px solid #58a0cc; font-weight: normal; text-transform: uppercase; font-size: 1.3333em; letter-spacing: .1em; line-height: 1.25em; color: #FFF;}
#navigation ul {list-style-type: none; margin-bottom: 2em;}
#navigation li {margin: 0 6px; border-bottom: 1px solid #b2d8eb;}
#navigation li a {padding: 6px 12px; display: block; background: url(/newhol/view-resources/identity/default/images/bg_navigation_item.gif) repeat-y top left; text-decoration: none;}
#navigation li a:hover {background: #FFF; color: #246c98;}
#navigation li.divider a {border-top: 1px solid #b2d8eb;}
#navigation li.current {margin-top: -1px; margin-left: 0; border-top: 1px solid #FFF; border-color: #b0e071;}
#navigation li.current a {padding-left: 18px; font-weight: bold; background: #FFF; color: #4fab0b;}
#navigation li.current ul {margin: 0; background: #FFF;}
#navigation li.current ul li {margin: 0 0 0 18px; font-size: .9167em; border-bottom: none; border-top: 1px dotted #b0e071;}
#navigation li.current ul li a {padding-left: 21px; font-weight: normal;}
#navigation li.current ul li.current a {font-weight: bold;}
#navigation li.current ul li.current a, #navigation li.current ul li a:hover {background: #FFF url(/newhol/view-resources/identity/default/images/icon_subnav_highlight.gif) no-repeat 0 50%;}
#navigation p {margin-left: 18px; margin-right: 18px; line-height: 1.5em;}
#navigation #partner-logo {margin-left: 18px;}

/* for both content and navigation */
p.graphic-button {width: 248px; background: transparent url(/newhol/view-resources/identity/default/images/bg_graphic-button_green_m.gif) repeat-y top left;}
p.graphic-button a {display: block; background: transparent url(/newhol/view-resources/identity/default/images/bg_graphic-button_green_t.gif) no-repeat top left; text-decoration: none; font-weight: bold; text-transform: uppercase; text-align: center; letter-spacing: .1em; color: #4f5a64; text-shadow: 0 1px 0 #FFF;}
p.graphic-button a:hover {color: black; background-color: transparent;}
p.graphic-button a span {padding: 4px 12px 5px; display: block; background: transparent url(/newhol/view-resources/identity/default/images/bg_graphic-button_green_b.gif) no-repeat bottom left;}
#navigation p.graphic-button {margin: 0 0 .5em 15px; background-image: url(/newhol/view-resources/identity/default/images/bg_graphic-button_blue_m.gif);}
#navigation p.graphic-button a {background-image: url(/newhol/view-resources/identity/default/images/bg_graphic-button_blue_t.gif);}
#navigation p.graphic-button a span {background-image: url(/newhol/view-resources/identity/default/images/bg_graphic-button_blue_b.gif);}

/* variations */
#home #content h1 {margin-bottom: 18px;}
#home #content h2 {margin-top: 0; padding-bottom: 0; border: none; font-weight: normal;}
#home #content ul.links {margin-bottom: 1.6em;}
#home #content .two-thirds {width: 55%;}
#home #content .one-third {width: 42%;}
#home #navigation h2 {margin-bottom: 18px;}
#home #navigation p {color: #444;}

/* footer */
#footer {padding: 18px; min-height: 110px; background: url(/newhol/view-resources/identity/default/images/bg_footer.gif) no-repeat top left; font-size: 1.1em; color: #777;}
#footer p {width: 30%;}
#footer p.fr {width: 65%; text-align: right;}

/* links */
a:link {color: #246c98;}
a:visited {color: #809aab;}
a:hover, a:active, a.current {color: #FFF; background-color: #246c98; text-decoration: none;}

/* tools */
.half {width: 48%;}
.two-thirds {width: 65%;}
.one-third {width: 32%;}

.fl {float: left;}
.fr {float: right;}

img.fl {margin: 0 10px 5px 0;}
img.fr {margin: 0 0 5px 10px;}

.cb {clear: both;}
.cl {clear: left;}
.cr {clear: right;}

.skip {display: none;}

.ca:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.ca {display: inline-table;}
/* Hides from IE-mac \*/
.ca {display: block;}
/* End hide from IE-mac */

.wildcard {
    font-style: italic;
    color: red;
}

form#infocard-form label {
     text-align: left;
     display: inline;
     font-weight: normal;
}
form input#infocard-logo-button {
     vertical-align: bottom;
}

form#password-signin-form {
     border-top: 0;
}