div.layout
{
	width         : 1000px;
	background    : ;
	/*padding-top: 0px;
	padding-left  : 10px;
	padding-right : 10px;*/
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-weight: inherit;
font-style: inherit;
font-family: inherit;
text-align: left;
vertical-align: baseline;
}

html{ font-size:100%; }

body{
font-size:1em;
font-family: georgia,"times new roman",times,serif;
color:#333333;
background:#fff;
line-height: 20px;
}
h1, h2 {font-weight:normal;color:#111;}
h1 {font-size:2em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1em;margin-bottom:0.75em;font-weight:bold;}

a:link,
a:visited{
text-decoration:none;
}
a:focus,a:hover,a:active{
text-decoration:underline;color:#B79C00;
}
.bersih{
	clear:both;
}
table {margin-bottom:1.4em;width:100%;}
td {padding:4px 10px 4px 5px;}

#sidecontent {
	color: #666666;
	background-color:#FFFFFF;
	font-size:11px;
	padding:10px 10px 20px 10px;
	margin:0px 0px 10px 0px;
	width:255px;
	float:right;
	border:1px solid #ddd;
}

#sidecontent2 {
	color: #666666;
	background-color:#FFFFFF;
	font-size:11px;
	padding:10px 10px 20px 10px;
	margin:0px 0px 10px 0px;
	width:255px;
	float:right;
	border:1px solid #ddd;
}
.footer{
	background:#3a3a3a;
	color:white;
	padding-right:70px;
	padding-left:70px;
	padding-top:10px;
	padding-bottom:5px;
	font-size:12px;
}
.footer a {color:white;}
.footer a:hover {text-decoration:underline;color: #B79C00;}
div#ft{
	position:absolute;
  	bottom:0;
  	left:0;
  	width:100%;
  	height:<length>;
}
#psetting		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#psetting li 	{ list-style: none;padding-left: 25px; background-image: url(../images/arrow02.jpg); background-repeat: no-repeat; background-position: 0 .6em;  padding-top:5px; padding-bottom: 5px; }
#psetting a, #psetting a:visited, #psetting a:link  { color: #004276; font-size: 0.750em; text-decoration: none;}
#psetting a:hover	{ color:#B79C00; text-decoration: underline;}

.kotakisi{padding:10px;}
.kotakisi p{
	font-size: 0.885em;
	line-height: 1.5em;
	padding-top:10px;
}
#wait{ font-size: 0.885em;position:absolute; top:0px; left:0px; background:#FF0000; color:#fff; padding:10px; }
#result { background-color: #F0FFED; border: 1px solid #215800; padding: 10px; margin-bottom: 20px; } 