.sample{padding:20px 30px; margin:4px 0 25px 0; border:1px solid #e1e1e1}
.ticker {
	color: #003366;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
}

.buttons{padding:-10px;}
.buttons span{
	padding:0 5px 0 10px;
	cursor:pointer;
	color: #333333;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 26px;
	
}
.buttons span.active, .buttons span:hover{
	color:#B79C00;
	text-decoration: none;
}

.aktual, .aktual:visited, .aktual:link  {
	padding:0 65px 0 5px;
	cursor:pointer;
	color: #333333;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 26px;
	text-decoration: none;
	
}
.aktual:hover{
	color:#B79C00;
	text-decoration: none;
}

.terbaru, .terbaru:visited, .terbaru:link  {
	padding:0 5px 0 10px;
	color: #333333;
	font-size: 12px;
	line-height: 26px;
	text-decoration: none;
	font-weight:bold;
}
.terbaru:hover{
	color:#B79C00;
	text-decoration: none;
}

.isuhangat, .isuhangat:visited, .isuhangat:link  {
	padding:0 5px 0 10px;
	color: #333333;
	font-size: 12px;
	line-height: 26px;
	text-decoration: none;
	font-weight:bold;
}
.isuhangat:hover{
	color:#B79C00;
	text-decoration: none;
}

.fokus, .fokus:visited, .fokus:link  {
	cursor:pointer;
	color: #003366;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	
}
.fokus:hover{
	color:#B79C00;
	text-decoration: none;
}

.linkhref, .linkhref:visited, .linkhref:link  {
	color: #003366;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	text-decoration: none;
	padding-top:2px;
	padding-bottom:2px;
}
.linkhref:hover{
	color:#B79C00;
	text-decoration: none;
}

.beritahangat, .beritahangat:visited, .beritahangat:link  {
	padding:0 5px 0 10px;
	cursor:pointer;
	color: #333333;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 26px;
	text-decoration: none;
	
}
.beritahangat:hover{
	color:#B79C00;
	text-decoration: none;
}

/* Sample 8*/
#box8{
	position:absolute;
}
#box8 div{
	width:350px;
	float:left;
}
#box8 .buttons{
	text-align:center;
}
#box8 .next{
	float:right
}

.mask1{
	position:relative;
	width:350px;
	height:450px;
	overflow:hidden;
}
