	body {
	font-family: arial, tahoma, verdana, sans-serif, helvetica;
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
hr {
border:0;
border-top:1px dotted #e0cb91;
height:0;
padding: 0 20px 0 20px;
}
	.atas:link		{ color: #7079A8; font-size: 11px; font-family:  Arial;  text-decoration: none; padding-right: 5px;  padding-top: 2px;  padding-bottom: 50px;}
	.atas:active	{ color: #7079A8; font-size: 11px; font-family:  Arial;  text-decoration: none; padding-right: 5px;  padding-top: 2px;  padding-bottom: 10px;}
	.atas:visited	{ color: #7079A8; font-size: 11px; font-family:  Arial;  text-decoration: none; padding-right: 5px;  padding-top: 2px;  padding-bottom: 10px;}
	.atas:hover		{ color: #B79C00; font-size: 11px; font-family:  Arial;  text-decoration: none; padding-right: 5px;  padding-top: 2px;  padding-bottom: 10px;}
	.atas 			{ color: #7079A8; font-size: 11px; font-family:  Arial;  text-decoration: none; padding-right: 5px;  padding-top: 2px;  padding-bottom: 10px;}

	div.toolbarTicker { margin-left: 10px; margin-top: 3px; }
		
	.atasnav  { margin: 0px 10px 0px 5px;
					background: url(../img/nav_line.jpg) no-repeat;
					color: #FFFFFF; font-size: 14px; font-family: "Times New Roman", Times, serif;
					}
	.atasnav  a {  margin: 0px 10px 0px 5px;
					color: #FFFFFF; font-size: 14px; font-family: "Times New Roman", Times, serif; 
					text-decoration: none;
					}
	.atasnav a:hover {  margin: 0px 10px 0px 5px;
					color: #B79C00; font-size: 14px; font-family: "Times New Roman", Times, serif; 
					text-decoration: none;
					}

	.bawah:link		{ color: #7079A8; font-size: 11px; font-family:  verdana,arial,helvetica,sans-serif;  text-decoration: none; padding-left: 10px;  padding-right: 10px; }
	.bawah:active	{ color: #7079A8; font-size: 11px; font-family:  verdana,arial,helvetica,sans-serif;  text-decoration: none; padding-left: 10px;  padding-right: 10px; }
	.bawah:visited	{ color: #7079A8; font-size: 11px; font-family:  verdana,arial,helvetica,sans-serif;  text-decoration: none; padding-left: 10px;  padding-right: 10px; }
	.bawah:hover	{ color: #B79C00; font-size: 11px; font-family:  verdana,arial,helvetica,sans-serif;  text-decoration: none; padding-left: 10px;  padding-right: 10px; }
	.bawah 			{ color: #7079A8; font-size: 11px; font-family:  verdana,arial,helvetica,sans-serif;  text-decoration: none; padding-left: 10px;  padding-right: 10px; }
	
	.inside 			{ color: #7079A8; font-size: 11px; font-family:  verdana,arial,helvetica,sans-serif;  text-decoration: none;  padding: 10px 10px 10px 10px;  margin: 10px 10px 10px 10px;      }
	
	.insideMainTittle	{ color: #000099; font-size: 24px; font-family: "Times New Roman", Times, serif;  margin-top:10px; margin-left: 10px; padding-top: 20px;   }
	.insideTittle		{ color: #7079A8; font-size: 14px; font-family:  verdana,arial,helvetica,sans-serif; padding-left: 10px;  font-weight: bold;  padding-bottom: 10px;   }

	.loginform 		{ color: #00008B; font-size: 11px; font-family:  verdana,arial,helvetica,sans-serif; padding-left: 10px; background: url(../img/formback.jpg) repeat-x left; }
	.boxlogin		{ background: url(../img/up_tile2.jpg);  padding: 0px 0px 0px 2px;  }
	.searchButton 	{ float: left;
	cursor: pointer;
	cursor: hand;
	margin: 1px;
	position: relative;
}
	.isi:link		{ color: #7079A8; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-decoration: none; padding-left: 10px;  }
	.isi:active		{ color: #181818; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-decoration: none; padding-left: 10px; }
	.isi:visited	{ color: #7079A8; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-decoration: none; padding-left: 10px; }
	.isi:hover		{ color: #483D8B; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-decoration: underline; padding-left: 10px; }
	.isi 				{ color: #181818; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; padding-left: 10px; text-indent: 10px; }

	.peraturan:link		{ color: #7079A8; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-decoration: none; margin-left: 10px; padding-bottom: 10px;}
	.peraturan:active		{ color: #7079A8; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-decoration: none; margin-left: 10px; padding-bottom: 10px;}
	.peraturan:visited	{ color: #7079A8; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-decoration: none; margin-left: 10px; padding-bottom: 10px;}
	.peraturan:hover		{ color: #B79C00; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-decoration: none; margin-left: 10px; padding-bottom: 10px;} 
	.peraturan 				{ color: #7079A8; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-decoration: none; margin-left: 10px; padding-bottom: 10px;}
	.peraturan_tittle 	{ background: url(../img/arrow01.jpg) no-repeat -10px; color: #7079A8; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif;  text-indent: 4; margin-left: 10px; font-weight: bolder;   }
	
	.td_atas 			{ vertical-align:middle;}
   .td_inside			{ vertical-align:top; background: url(../img/tile_inside.gif) repeat-x right;  background-position: top;  background-repeat: repeat-x;   }
   .td_peraturan		{
	vertical-align:top;
	background: #FFFFFF;
	border:1px solid #ddd;
}
   .td_kosong		{
	vertical-align:top;
	padding: 5px 5px 5px 5px;
}
   
	.td_peraturan1		{
	vertical-align:top;
	background: #FFFFFF;
	border:1px solid #ddd;
	padding: 5px 5px 5px 5px;
}
	.td_peraturan2		{
	vertical-align:top;
	background: #F1F5FA;
	border:1px solid #ddd;
	padding: 5px 5px 5px 5px;
}
	.td_peraturan3		{
	background: #F1F5FA;
	border:1px solid #ddd;
}

	.td_news		{
	vertical-align:top;
	background: #FFFFFF;
	border:1px solid #ddd;
	padding: 5px 0px 5px 5px;
}	
	.td_news1		{
	vertical-align:top;
	background: #F1F5FA;
	border:1px solid #ddd;
}
	.td_news2		{
	background-image: url(../img/tile_judul.jpg);
	background-repeat: repeat-x;
	vertical-align:top;
	background: #dbe6ec;
	border:1px solid #ddd;
	padding: 5px 5px 5px 5px;
}
	.td_footer		{
	vertical-align:top;
	border:1px solid #333333;
	padding: 5px 0px 5px 5px;
}


	.judulnaik	{
	color: #006699;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	}
/*buat kotak peraturan  */
	#lilmenu 				{font-family: "Times New Roman", Times, serif; width:450px; padding:0; line-height:15px; height:33px;}
	#lilmenu2 				{font-family: "Times New Roman", Times, serif; width:450px; padding:0; line-height:15px; height:33px;}
	#lilmenu div.mati 	{
	color:#006699;
	width:182px;
	height:30px;
	margin-right:2px;
	line-height:30px;
	padding:0 20px;
	float:left;
	background: #DAE4F1;
	border:1px solid #DAE4F1;
	position:relative;
	z-index:20;
	font-weight: bold;
	cursor:pointer;
}
	#lilmenu div.hidup 	{color:#7079A8; width:180px; height:30px; margin-right:2px; line-height:30px; padding:0 20px; float:left; background: #F1F5FA; border:1px solid #F1F5FA; position:relative; z-index:100; font-weight: bold;}
	#lilmenu div.off 	{
	color:#006699;
	height:30px;
	margin-right:2px;
	line-height:30px;
	padding:0 5px;
	float:left;
	background: #DAE4F1;
	border:1px solid #DAE4F1;
	position:relative;
	z-index:20;
	font-weight: bold;
	cursor:pointer;
}
	#lilmenu div.on 	{color:#7079A8; height:30px; margin-right:2px; line-height:30px; padding:0 20px; float:left; background: #F1F5FA; border:1px solid #F1F5FA; position:relative; z-index:100; font-weight: bold;}

	#lilmenu2 div.redup 	{
	color:#006699;
	height:30px;
	margin-right:2px;
	line-height:30px;
	padding:0 5px;
	float:left;
	background: #DAE4F1;
	border:1px solid #DAE4F1;
	position:relative;
	z-index:20;
	font-weight: bold;
	cursor:pointer;
}
	#lilmenu2 div.nyala 	{color:#7079A8; height:30px; margin-right:2px; line-height:30px; padding:0 20px; float:left; background: #F1F5FA; border:1px solid #F1F5FA; position:relative; z-index:100; font-weight: bold;}

	div.tutup {display:none; width:0; overflow:hidden;}
	div.buka {clear:left; width:450px; margin-top:10px; position:relative; z-index:50; font:11px verdana, arial, sans-serif; line-height:18px;}
	div.muncul {clear:left; width:450px; margin-top:10px; position:relative; z-index:50; font:11px verdana, arial, sans-serif; line-height:18px;}
	div.tenggelam {display:none; width:0; overflow:hidden;}
   .clear {clear:both;}

/*ini buat kotak sebelah kanan*/
.kotakjudubesar	{
	color: #003366;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 10px;
	font-weight: bold;
	}
#kotakisi .beritaterkait	{
	color: #003366;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 10px;
	font-weight: bold;
	}
#kotakisi .kotakjudul {
	color: #003366;
	font-size: 12px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}

#kotakisi .kotaksubjudul {
	color: #333333;
	font-size: 9px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}
#kotakisi .kotakdescription {
	color: #333333;
	font-size: 9px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 16px;
	font-weight: bold;
	padding-bottom: 20px;
	font-style:italic;
}
#kotakisi .kotakdate {
	color: #333333;
	font-size: 9px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}
#kotakisi .kotakauthor {
	color: #333333;
	font-size: 9px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 16px;
	padding-bottom: 20px;
	font-style: italic;
}
#kotakisi 		p{
	color: #333333;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 14px;
	padding-right:3px;
	padding-left:3px;
	margin-top: 13px;
}
#kotakisi 		.image {
	background-color: #fff;
	padding: 2px;
	margin: 13px 15px 13px 0px;
	border: 1px solid #e4d09b;
	float: left;
}
#kotakisi .imagebuku {
	background-color: #fff;
	padding:2px;
	margin: 5px 5px 5px 5px;
	border: 1px solid #e4d09b;
	float: left;
}

#kotakisi .linkbawah:link		{
	color: #7079A8;
	font-size: 9px;
	font-family: verdana,arial,helvetica,sans-serif;
	margin-left: 3px;
	margin-right: 3px;
	padding-bottom: 10px;
	text-decoration: none;
}
#kotakisi .linkbawah:active		{ color: #7079A8; font-size: 9px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
#kotakisi .linkbawah:visited	{ color: #7079A8; font-size: 9px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
#kotakisi .linkbawah:hover		{ color: #B79C00; font-size: 9px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;} 
#kotakisi .linkbawah 			{ color: #7079A8; font-size: 9px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
	
#klinikisi {
	color: #003366;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	}
#klinikisi .klinikjudul {
	color: #003366;
	font-size: 12px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-weight: bold;
}
#klinikisi .klinikauthor {
	color: #333333;
	font-size: 9px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-style: italic;
}
#klinikisi p{
	color: #333333;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	margin-top:5px;
}

/* ini buat isi peraturan */
#peraturan .peraturanjudul {
	color: #003366;
	font-size: 12px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 16px;
	font-weight: bold;
	margin: 5px 5px 30px 0px;
	text-decoration: none;
}

#peraturan .peraturanauthor {
	color: #333333;
	font-size: 9px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-style: italic;
}

#peraturan .subtitle		{
	color: #333333;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 14px;
	margin-bottom: 5px;
	text-decoration: none;
}
#peraturan	p{
	color: #333333;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 14px;
	padding-right:3px;
	padding-left:3px;
	margin-top: 13px;
}
#peraturan .link:link		{
	color: #333333;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 14px;
	margin-top: 0px;
	text-decoration: none;
}
#peraturan .link:active		{
	color: #333333;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 14px;
	margin-top: 0px;
	text-decoration: none;
}
#peraturan .link:visited	{
	color: #333333;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 14px;
	margin-top: 0px;
	text-decoration: none;
}
#peraturan .link:hover		{
	color: #B79C00;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 14px;
	margin-top: 0px;
	text-decoration: none;
}
#peraturan .link 			{
	color: #333333;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 14px;
	margin-top: 0px;
	text-decoration: none;
}

/* ini buat isi moving news */
#newsisi .kotak {
padding: 5px 5px 5px 5px;

}	
#newsisi p:link		{
	color: #333333;
	font-size: 11px;
	font-family: Arial;
	line-height: 14px;
	padding-bottom: 10px;
	text-decoration: none;
}

#newsisi p:visited	{ color: #333333; font-size: 11px; line-height: 14px; font-family: Arial; padding-bottom: 10px; text-decoration: none;} 
#newsisi p			{ color: #333333; font-size: 11px; line-height: 14px; font-family: Arial; padding-bottom: 10px;text-decoration: none;}

#newsisi .image {
	background-color: #fff;
	padding: 2px;
	margin: 3px 5px 3px 0px;
	border: 1px solid #e4d09b;
	float: left;
}

#newsisi h3 {
	font-family: "Times New Roman", Times, serif;
	color:#003366;
	height:14px;
	font-weight: bold;
}

.terbaru_border {
	display:block;
	line-height:140%;
	width:345px;
	float:right;
	margin-top:2px;
	padding:0px 0px 8px 0px;
	}
.terbaru_box {
	margin:0px;
	padding:4px 0px 0px 0px;
	<!--border-bottom:1px dotted #CECECE;-->
	}
.terbaru_time_box {
	<!--background:#0C76C0;-->
	color:#999999;
	margin:0px 0px 0px 2px;
	padding:0px 2px;
	font-size: 10px;
	float:left;
	width:45px;
	<!--font-weight: bold;-->
	text-align:center;
	}
.terbaru_text {
	float:right;
	width:276px;
	}
.isuhangat_border {
	display:block;
	line-height:140%;
	width:345px;
	float:right;
	margin-top:2px;
	padding:0px 0px 8px 0px;
	}
.isuhangat_box {
	margin:0px;
	padding:4px 0px 0px 0px;
	<!--border-bottom:1px dotted #CECECE;-->
	}
.isuhangat_time_box {
	<!--background:#0C76C0;-->
	color:#999999;
	margin:0px 0px 0px 2px;
	padding:0px 2px;
	font-size: 10px;
	float:left;
	width:45px;
	<!--font-weight:bold;-->
	text-align:center;
	}
.isuhangat_text {
	float:right;
	width:278px;
	}
.tanda_bawah {
	clear				: both;
	color				: #ff00ff;
	padding-top			: 0.1px;
}
.more {
	font-weight:bold;
	font-size:x-small;
	text-align:right;
	padding-right:8px;
	}
.widgetHeader {
	width: 100%;
	padding:0px;
	padding-left:3px;
	padding-right:3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #7AA5D6;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #C9D7F1;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #C9D7F1;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #C9D7F1;
	background-color: #E5ECF9;
}
.widgetContent{
	padding:5px;
	border-width: thin;
	border-style: solid;
	border-color: #C9D7F1;
	border-top-width:0px;
}
.widgetHeaderTitle{
	display:inline;
	font: bold 11px verdana,arial,helvetica,sans-serif;
	
}
	
#navlistnoline { margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0; list-style: none;}
#navlistnoline li { padding-left: 10px; background-image: url(/holemp/view-resources/img/arrow02.jpg); background-repeat: no-repeat; background-position: 0 .6em;  padding-top:2px; padding-bottom: 2px; }
#navlistnoline a, #navlistnoline a:visited, #navlistnoline a:link  {
	color: #333333;
	font-size: 12px;
	text-decoration: none;
	font-weight:bold;
}
#navlistnoline a:hover{
	color:#B79C00;
	text-decoration: none;
}


/*ini buat footer dibawah sendiri*/
#footer .footerjudul	{
	color: #FFFFFF;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 10px;
	font-weight: bold;
	}
#footer .beritaterkait	{
	color: #003366;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 10px;
	font-weight: bold;
	}
#footer .kotakjudul {
	color: #003366;
	font-size: 12px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}

#footer hr {
border:0;
border-top:1px dotted #e0cb91;
height:0;
padding: 0 20px 0 20px;
}

#footer 		p{
	color: #333333;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 14px;
	margin-top: 0px;
}
#footer 		.image {
	background-color: #fff;
	padding: 2px;
	margin: 3px 5px 3px 0px;
	border: 1px solid #e4d09b;
	float: left;
}

#footer .linkbawah:link		{
	color: #999999;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	margin-left: 3px;
	margin-right: 3px;
	padding-bottom: 10px;
	text-decoration: none;
}
#footer .linkbawah:active		{ color: #999999; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
#footer .linkbawah:visited	{ color: #999999; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
#footer .linkbawah:hover		{ color: #B79C00; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;} 
#footer .linkbawah 			{ color: #999999; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}


.footnote, .footnote:active	{ color: #666666; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
.footnote:visited, .footnote:link	{ color: #999999; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
.footnote:hover		{ color: #B79C00; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: none;} 


/* 
 * INDEX
 *
 */
 
#panelIndex {
	margin:18px 6px 0px 7px;
	float:left;
	width:500px;
}
#divClear {
	clear:both;
}
#panelBerita {
	margin:18px 6px 0px 7px;
	float:left;
	width:312px;
}
#panelBerita ol li {
    font-weight:normal;
    display:block;
    margin:0px 4px 6px -13px;
    color:#333;
	list-style: none;
}
#panelBerita .jam {
	color:#9e2b0c;
	padding-right:2px;
	font-size:11px;
}
#panelBerita ul li {
	font-weight:normal;
    list-style:url(../img/bullet_arrow.gif) outside;
	margin:0px 4px 6px -13px;
	color:#333;
}
#panelTitle {
	text-transform:uppercase;
	color:#000000 /* #9e2b0c */;
	font-weight:bold;
	font-size:16px;
	font-family:"helvetica",arial,verdana,sans-serif;
	padding: 0px 0px 0px 0px;
	border-bottom:1px solid #000000 /* #9e2b0c */;
	letter-spacing:-0.02em;
	height:22px;
}
#panelTitleIndex {
    margin-top:6px;
    color:#599b9b;
    float:right;
    font-size:10px;
    font-weight:bold;
    text-transform:lowercase;
}
#panelBeritaBawah {
	margin-top:6px;
    color:#127070;
    font-weight:bold;
}
#panelBeritaBawah img {
	border:1px solid #888;
    padding:2px;
    float:left;
    margin:0px 8px 6px 0px;
}
#panelBeritaBawah ul li, #panelBeritaBawah ol li {
    margin-left:-24px;
	clear:both;
	list-style:none;
}
#index_jam {
	width:42px;
	float:left
}
#index_berita {
	float:left;
	padding-left:10px;
	width:240px;
	margin-bottom: 5px;
}
#panelRubrik {
	margin:16px 0px 0px 5px;
	float:left;
	width:950px;
}
#panelRubrik ol li {
	font-weight:normal;
	display:block;
	margin:0px 4px 6px -32px;
	color:#333;
	text-transform:capitalize;
}
#panelRubrik .jam {
	color:#599b9b;
	padding-right:8px;
	font-size:11px;
}
#panelRubrik ul li {
	font-weight:normal;
	list-style:url(../img/dunia/bullet_arrow.gif) outside;
	margin:0px 4px 6px -13px;
	color:#333;
	text-transform:capitalize;
}
#index_panah {
	width:55px;
	float:left;
	margin-bottom:10px;
}
#index_rubrik {
	float:left;
	margin-bottom:3px;
}

